@model Restaurant.Web.Models.RestaurantViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h1>Book your table...</h1>
        <p class="lead">Enter your details below to book your table.</p>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control alpha" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNum, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PhoneNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNum, "", new { @class = "text-danger" })
                </div>                
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PreferredDateTime, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PreferredDateTime, new { htmlAttributes = new { @class = "form-control datepicker", @type = "datetime-local" } })
                    @Html.ValidationMessageFor(model => model.PreferredDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                     
                    <input type="submit" value="Book Now" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
